{% extends "login/base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login">

    <h2 class="login-header">Log in</h2>
    <div class="login-container">
    <form method="post" action="">
        {% csrf_token %}
        <p>{{ form.login_id }}</p>
        <p>{{ form.password }}</p>
        <p>
            <input type="submit" value="Log in">
            <div class="create_user">
            <a href="{% url 'login:create_user' %}" class="create_user">sign up</a>
            </div>
        </p>
    </form>
    </div>
</div>
{% endblock %}